body {
    margin: 0 auto;
    background-color: #000000;
    font-family: neue-haas-grotesk-display, sans-serif;
}
img {
    max-width: 100%;
}
small,
p {
    font-family: helvetica, sans-serif;
}
.header-content {
    position: relative;
    width: 100%;
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: stretch;
    justify-content: flex-end;
}

.main-video {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

video {
    object-fit: cover;
    object-position: center;
}

.header-title {
    display: block;
    overflow: visible;
    width: auto;
    height: auto; 
    margin: 0px auto;
    align-self: auto;
    order: 0;
    flex: 0 auto;
    font-size: 10em;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    color: #f5f5f5;
}

.header-target {
    font-size: 2em;
    text-align: center;
    column-count: 1;
    color: #f5f5f5;
    margin: 0 auto;
}

.arrow-scroll {
    display: block;
    width: 2vw;
    margin: 0 auto;
    padding: 3em 0;
    align-self: auto;
    order: 0;
    flex: 0 auto;
}

.conect-section {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.conect-content {
    position: relative;
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    align-self: flex-end;
    text-align: left;
    padding: 6vw 5vw 5vw 5vw;
}

.conect-video {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.conect-title {
    color: #f5f5f5;
    font-size: 2.2em;
    margin: 0;
}

.conect-target {
    color: #f5f5f5;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.2em 0;
}

.conect-text {
    color: #f5f5f5;
    width: 25vw;
    font-size: 1em;
    line-height: 1.5em;
    font-family: helvetica, sans-serif;
    margin: 2em 0 0 0;
}

.conect-features {
    position: relative;
    align-self: flex-start;
    margin: 5em;
    padding: 0 2vw;
    border-right: 2px solid rgba(225, 225, 225, 0.5);;
}

.conect-features-text {
    color: #f5f5f5;
    font-size: 1em;
    line-height: 2.5em;
    font-family: helvetica, sans-serif;
    text-align: right;
}

.app-section {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.app-screen {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.app-screen > img {
    
}

.app-content {
    align-self: center;
}

.app-title {
    color: #f5f5f5;
    font-size: 2.2em;
    margin: 0;
}

.app-target {
    color: #f5f5f5;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.2em 0;
}

.app-text {
    color: #f5f5f5;
    width: 30vw;
    text-align: center;
    padding: 5em;
    margin: 0 auto;
    font-size: 1em;
    line-height: 1.5em;
    font-family: helvetica, sans-serif;
}

.security-section {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: flex-end;
}

.security-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 40vw;
    bottom: 0;
    object-fit: cover;
    z-index: -1;
    overflow: visible;
}

.security-content {
    width: 40vw;
    padding: 5em;
    text-align: left;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.security-title {
    color: #f5f5f5;
    font-size: 2.2em;
    margin: 0;
}

.security-target {
    color: #f5f5f5;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.2em 0;
}

.security-text {
    color: #f5f5f5;
    width: 35vw;
    font-size: 1em;
    line-height: 1.5em;
    font-family: helvetica, sans-serif;
    margin: 2em 0 0 0;
}

.security-features {
    position: relative;
    margin: 5vw 5vw 5vw 0;
    padding: 0 2vw;
    border-left: 2px solid rgba(225, 225, 225, 0.5);;
}

.security-features-text {
    color: #f5f5f5;
    font-size: 1em;
    line-height: 2.5em;
    font-family: helvetica, sans-serif;
    text-align: left;
}

.tech-section {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
}

.tech-video {
    position: absolute;
    right: 0;
    top: 0;
    width: 50vw;
    height: 100%;
    bottom: 0;
    z-index: -1;
}

.tech-content {
    width: 40vw;
    padding-right: 10vw;
    text-align: right;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tech-title {
    color: #f5f5f5;
    font-size: 2.2em;
    margin: 0;
}

.tech-target {
    color: #f5f5f5;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.2em 0;
}

.tech-text {
    color: #f5f5f5;
    width: 32vw;
    font-size: 1em;
    line-height: 1.5em;
    font-family: helvetica, sans-serif;
    margin: 2em 0 0 0;
}

.tech-features {
    position: relative;
    margin: 5vw 0 5vw 5vw;
    padding: 0 2vw;
    border-right: 2px solid rgba(225, 225, 225, 0.5);;
}

.tech-features-text {
    color: #f5f5f5;
    font-size: 1em;
    line-height: 2.5em;
    font-family: helvetica, sans-serif;
    text-align: right;
}

.design-section {
    position: relative;
    display: flex;
    height: 100%;
    width: 100vw;
    flex-direction: column;
    background-color: #f5f5f5;
}

.design-section .design-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1;
}
.design-section .design-images > div {
    position: relative
}
.design-section .design-images > div > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.design-content {
    width: 100vw;
    padding: 5em 5em 3em;
    align-self: flex-start;
}

.design-title {
    color: #333333;
    font-size: 2.2em;
    margin: 0;
}

.design-main-target {
    width: 100vw;
    padding: 0 3vw 3vw 0;
}

.design-main-target-title {
    color: #333333;
    font-size: 2.2em;
    text-align: center;
}

.design-target {
    color: #333333;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.2em 0;
}

.design-text {
    color: #333333;
    width: 30vw;
    font-size: 1em;
    line-height: 1.5em;
    font-family: helvetica, sans-serif;
    margin: 2em 0 0 0;
}

.model-section {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    overflow: hidden;
    padding: 5em;
}

.model-content {
    align-self: center;
    text-align: center;
    margin-top: -3em;
}

.model-title {
    color: #333333;
    font-size: 2.2em;
    margin: 0;
}

.model-target {
    color: #333333;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.2em 0;
}

.model-text {
    width: 25vw;
    color: #333333;
    font-size: 1em;
    line-height: 1.5em;
    font-family: helvetica, sans-serif;
    margin: 2em 0;
}

.model {
    position: relative;
    overflow: visible;
    max-width: 125vh;
    margin: 0 auto;
}

.model-slider {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
}

.model-slider > .qb {
    position: relative;
}

.model-slider > .qr {
    position: relative;
}

.colors .b-color-slider {
    white-space: nowrap;
    transition: 0.8s;
    background-color: #e1e1e1;
}

.colors > .b-color-slider > .b1 {
    position: relative;
    opacity: 1;
}

.colors > .b-color-slider > .b2, .b3, .b4, .b5 {
    position: absolute;
    top: 0;
    opacity: 0;
}

.colors > .b-color-slider > * {
    transition: .5s opacity;
}

.colors > .b-color-slider > * > img {
    width: 100%;
    margin: 10vh auto;
}

.colors .r-color-slider {
    white-space: nowrap;
    transition: 0.8s;
    background-color: #e1e1e1;
}

.colors > .r-color-slider > .r1 {
    position: relative;
    opacity: 1;
}

.colors > .r-color-slider > .r2, .r3, .r4, .r5 {
    position: absolute;
    top: 0;
    opacity: 0;
}

.colors > .r-color-slider > * {
    transition: .5s opacity;
}

.colors > .r-color-slider > * > img {
    width: 100%;
    margin: 10vh auto;
}

.bullets-color {
    z-index: 2;
    bottom: 0;
    padding: 2vw 0 2vw 0;
    text-align: center;
    display: flex;
}

.qr .bullets-color {
    justify-content: flex-end;
}

.qb .bullets-color {
    justify-content: flex-start;
}

.bullets-color > a {
    padding: 0.2em;
    border-radius: 2em;
    text-decoration: none;
    text-align: center;
    background: rgba(255, 255, 255, 1);
    color: #fff;
    margin: 0 0.2em;
}

.bullets-color > a > img {
    width: 1em;
}

/* Animations */
#b1:target ~ .b-color-slider > *:nth-child(1) {opacity: 1;}
#b2:target ~ .b-color-slider > *:nth-child(2) {opacity: 1;}
#b3:target ~ .b-color-slider > *:nth-child(3) {opacity: 1;}
#b4:target ~ .b-color-slider > *:nth-child(4) {opacity: 1;}
#b5:target ~ .b-color-slider > *:nth-child(5) {opacity: 1;}

#r1:target ~ .r-color-slider >*:nth-child(1) {opacity: 1;}
#r2:target ~ .r-color-slider >*:nth-child(2) {opacity: 1;}
#r3:target ~ .r-color-slider >*:nth-child(3) {opacity: 1;}
#r4:target ~ .r-color-slider >*:nth-child(4) {opacity: 1;}
#r5:target ~ .r-color-slider >*:nth-child(5) {opacity: 1;}

.battery-section {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.battery-content {
    position: relative;
    width: 50vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-end;
    text-align: right;
    align-self: flex-end;
    padding: 5em;
}

.battery-video {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: -1;
}

.battery-title {
    color: #f5f5f5;
    font-size: 2.2em;
    margin: 0;
}

.battery-target {
    color: #f5f5f5;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.2em 0;
}

.battery-text {
    color: #f5f5f5;
    width: 25vw;
    font-size: 1em;
    line-height: 1.5em;
    font-family: helvetica, sans-serif;
    margin: 2em 0 0 0;
}

.battery-features {
    position: relative;
    align-self: flex-start;
    margin: 5em;
    padding: 0 2vw;
    border-left: 2px solid rgba(225, 225, 225, 0.5);;
}

.battery-features-text {
    color: #f5f5f5;
    font-size: 1em;
    line-height: 2.5em;
    font-family: helvetica, sans-serif;
    text-align: left;
}

.production-section {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #f5f5f5;
}

.production-content {
    position: relative;
    width: 30vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    text-align: left;
    padding: 5em;
}

.production-video {
    position: absolute;
    right: 0;
    top: 0;
    width: 59vw;
    bottom: 0;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.production-title {
    color: #333333;
    font-size: 2.2em;
    margin: 0;
}

.production-target {
    color: #333333;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.2em 0;
}

.production-text {
    color: #333333;
    width: 25vw;
    font-size: 1em;
    line-height: 1.5em;
    font-family: helvetica, sans-serif;
    margin: 2em 0 0 0;
}

.production-features {
    position: relative;
    align-self: flex-start;
    margin: 5vw 5vw 5vw 0;
    padding: 0 2vw;
    border-left: 2px solid rgba(51, 51, 51, 0.5);;
}

.production-features-text {
    color: #333;
    font-size: 1em;
    line-height: 2.5em;
    font-family: helvetica, sans-serif;
    text-align: left;
}

.production-content > img {
    width: 90%;
    object-fit: contain;
}

.specs-tech-section {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.specs-tech-video {
    position: absolute;
    left: 0;
    top: 0;
    width: 40vw;
    height: 100%;
    z-index: -1;
    overflow: visible;
}

.specs-tech-content {
    width: 50vw;
    padding: 5vw;
    text-align: left;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.specs-tech-title {
    color: #f5f5f5;
    font-size: 2.2em;
    margin: 0;
}

.specs-tech-target {
    color: #f5f5f5;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.2em 0;
}

.specs-tech-text {
    color: #f5f5f5;
    width: 35vw;
    font-size: 1em;
    line-height: 1.5em;
    font-family: helvetica, sans-serif;
    margin: 2em 0 0 0;
}

.specs-section {
    position: relative;
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    background-color: #f5f5f5;
}

.specs-video {
    position: absolute;
    left: 700px;
    top: 0;
    right: 0;
    height: 100%;
    width: calc(100vw - 700px);
    z-index: 0;
    overflow: visible;
    object-fit: contain;
    background: #d4d5d6;
}

.specs-content {
    width: 50vw;
    padding: 5vw;
    text-align: left;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
}

.specs-title {
    color: #333;
    font-size: 2.2em;
    margin: 0;
}

.specs-target {
    color: #333;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.2em 0;
}

.table-specs {
    border-collapse: collapse;
    margin: 2em 0;
}

.th-specs {
    background: #e1e1e1;
    text-align: left;
    color: #333;
}

.th-specs, .td-specs {
    padding: 1em;
    font-family: helvetica, sans-serif;
    font-size: 0.8em;
    color: #333;
}

.tr-specs:nth-child(even) {
    background: #e1e1e1;
}

.tr-specs:hover {
    background: #e1e1e1;
}


table {
    border-collapse: collapse;
    margin: 2em 0;
}

th {
    background: #333;
    text-align: left;
    color: #f5f5f5;
}

th, td {
    padding: 1em;
    font-family: helvetica, sans-serif;
    font-size: 0.8em;
    color: #f5f5f5;
}

tr:nth-child(even) {
    background: #333;
}

tr:hover {
    background: #333;
}

.plans-section{
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    height: 100%;
    box-sizing: border-box;
}


.plans-section .header {
    padding: 5em 5em 3em;
}
.plans-section .header .title {
    color: #333333;
    font-size: 2.2em;
    margin: 0;
    font-weight: bold;
}
.plans-section .header .subtitle {
    color: #333333;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.2em 0 0;
}

.plans-sale-conditions {
    display: flex;
    flex-direction: row;
    flex: 1;
}
.plans-sale-conditions > div {
    flex: 1;
}

.plans-content-sale {
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 3em 1.5em;
    background-color: #f27966;
}
.plans-content-sale:first-child {
    background-color: #e1e1e1;
}
.plans-content-sale:not(:first-child) .plans-sale-title,
.plans-content-sale:not(:first-child) .plans-sale-text,
.plans-content-sale:not(:first-child) .plans-sale-target {
    color: white;
}
.plans-content-sale .info {
    flex: 1;
}
.plans-sale-title {
    color: #333333;
    font-size: 2.2em;
    font-weight: 600;
    margin: 0.5em;
    text-align: center;
}

.plans-sale-target {
    color: #333333;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.plans-sale-text {
    color: #333333;
    font-size: 1em;
    font-family: helvetica, sans-serif;
    text-align: center;
    line-height: 1.75em;
    margin: 2vw 0 0 0;
}

.plans-content-rent {
    background-color: #f27966;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.plans-rent-title {
    color: #f5f5f5;
    font-weight: 600;
    font-size: 2.2em;
    margin: 0.5em;
    text-align: center;
}

.plans-rent-target {
    color: #f5f5f5;
    font-size: 1.5em;
    font-weight: 500;
    text-align: center;
}

.plans-rent-text {
    color: #f5f5f5;
    font-size: 1em;
    font-family: helvetica, sans-serif;
    text-align: center;
    line-height: 2em;
    margin: 2vw 0 0 0;
}

.plans-terms-sale {
    display: flex;
    padding: 0 5vw 5vw 5vw;
    align-items: flex-end;
}
.plans-terms-sale > div {
    flex: 1;
}

.plans-terms-text {
    color: #333333;
    font-size: 0.8em;
    padding-left: 10vw;
    font-family: helvetica, sans-serif;
    text-align: center;
}

.plans-terms {
    color: #333333;
    font-size: 0.7em;
    font-family: helvetica, sans-serif;
    padding: 2vw 3vw 2vw 0;
    background-color:#f5f5f5;
}

.plans-price {
    font-weight: 600;
    font-size: 4em;
    text-align: center;
    line-height: 1em;
    color: #f27966;
}

.plans-price > span:first-child { 
    text-decoration: line-through;
}


.plans-rent-conditions {
    flex: 1;
}

.plans-terms-rent-text {
    color: #f5f5f5;
    font-size: 0.8em;
    font-family: helvetica, sans-serif;
    text-align: center;
}

.reserve-section {
    background-color:#f5f5f5;
    display: flex;
    flex-direction: column;
    height: 100%
}
.reserve-section-types {
    display: flex;
}
.reserve-section-types > div {
    flex: 1;
    padding: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}    

.reserve-section-types .title {
    color: #333333;
    font-size: 3em;
    margin: 0;
    font-weight: bold;
}

.reserve-section-types .price {
    font-size: 2.2em;
    font-family: helvetica, sans-serif;
}

.reserve-section-types .cut {
    text-decoration: line-through;
}

.reserve-section-types .desc {
    color: #333333;
    font-family: helvetica, sans-serif;
}

.reserve-section-cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-direction: column;
    padding: 1em;
    text-align: center;
    background: #e1e1e1;

}
.reserve-section-cta .title {
    color: #333333;
    font-size: 2.2em;
    margin: 0;
    font-weight: bold;
}
.reserve-section-cta .subtitle {
    color: #333333;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0.2em 0 1em;
}
.reserve-section-cta button {
    padding: 16px 64px;
    font-size: 16px;
    background: green;
    border: 0px solid transparent;
    border-radius: 99px;
    text-transform: uppercase;
}

.reserve-section-cta .price {
    font-size: 3em;
    font-family: helvetica, sans-serif;
}

.reserve-section-cta p {
    max-width: 60%;
}

.terms {
    color: #333333;
    font-size: 0.7em;
    font-family: helvetica, sans-serif;
    padding: 2vw 20vw;
    background-color:#f5f5f5;
    align-self: flex-start;
    text-align: center;
}
